
    <md-content flex class="md-whiteframe-z3">
      <div>
        <!-- Formulario -->
        <form name="login">
          <!-- inputs -->
          <div layout = "column" layout-align = "center center">
              <!-- Título -->
              <div flex layout = "row">
                <br>
                <h3>Inicio de sesión</<h3>
                <br>
              </div>
              <!-- Título -->
              <br>
              <!-- Email  -->
              <div>
                <md-input-container>
                  <label>E-mail</label>
                  <input type="email" name = "email" ng-required = "true" ng-pattern="/^.+@.+\..+$/" ng-model="username">
                  <div ng-messages="login.email.$error">
                    <div ng-message="required">Email requerido!</div>
                    <div ng-message="pattern">Inválido!, Ej:sac@udes.cl</div>
                  </div>
                </md-input-container>
              </div>
              <!-- Email  -->
              <!-- Pass  -->
              <div>
                <md-input-container class="md-block" >
                  <label>Contraseña</label>
                  <input type="password" name = "pass" ng-required = "true" ng-model="password">
                  <div ng-messages="login.pass.$error">
                    <div ng-message="required">Contraseña requerida!</div>
                  </div>
                </md-input-container>
              </div>
              <!-- Pass  -->
          </div>
          <!-- inputs-->
          <br>
          <!-- Botones -->
          <div layout = "column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-disabled = "login.email.$invalid || login.pass.$invalid" ng-click="loginF()">Ingresar</md-button>
            <md-button ng-click= "forgetPass()">Olvidó Contraseña?</md-button>
          </div>
          <!-- Botones -->
        </form>
        <!-- Formulario -->
      </div>
    </md-content>
