<md-content class="md-whiteframe-z3" flex>
	<div layout = "column" layout-align = "center center">
	        		<br>
	                <h3>Recuperar Contraseña</h3>
	                <hr>
	                <div ng-show = "sh" >            
	                        <form role="form" name="oc">
		                        <div layout = "column">
									<div>
										<md-input-container>
							                <label>E-mail</label>
							                <input type="email" name = "email" ng-required = "true" ng-pattern="/^.+@.+\..+$/" ng-model="email">
							                <div ng-messages="oc.email.$error">
							                  <div ng-message="required">Email requerido!</div>
							                  <div ng-message="pattern">Inválido!, Ej:sac@udes.cl</div>
							                </div>
							            </md-input-container>
									</div>
		                            <div ng-show = "sh">
			                            <md-button class="md-raised md-primary" ng-disabled = "oc.email.$invalid" ng-click="next()">Ingresar</md-button>
			                            <md-button ng-click="back()">Cancelar</md-button>
									</div>
		                            <br>
		                        </div>
	                        </form>
							<br>
	                </div>

	                <div ng-hide = "sh">
	                	<div>
	                        <form role="form" name="ocf">
	                        	<div layout = "column">
		                        	<div>
		                        		<md-input-container>
							                <label>E-mail</label>
							                <input type="email" name = "email" ng-model="usuario.emailU" disabled>
							            </md-input-container>
									</div>
									<div>
										<md-input-container>
							                <label>Pregunta secreta</label>
							                <input type="text" name = "pregS" ng-model="usuario.preguntaU" disabled>
							            </md-input-container>
									</div>
									<div>
										<md-input-container>
							                <label>Respuesta</label>
							                <input type="password" name = "res" ng-required = "true" ng-model="respuesta">
							                <div ng-messages="ocf.res.$error">
							                  <div ng-message="required">Respuesta requerida!</div>
							            	</div>
							            </md-input-container>
							            
									</div>
		                             <div>
										<md-button class="md-raised md-primary" ng-disabled = "ocf.res.$invalid" ng-click="send()">Enviar</md-button>
										<md-button ng-click="back()">Cancelar</md-button>
									</div>
		                            <br>
	                            </div>
	                        </form>				
	                            <br>
	                	</div>
	                </div>
	                            
	            </div>
</md-content>
