<md-content class="md-whiteframe-z3" flex id="content">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/alumno">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosP">Ver Profesores</a></li>
      <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosAA">Usuarios Asociados</a></li>
      <li class="breadcrumb-item active">Usuario Asociado</li>
    </ol>
  </div>
</div>
                <div layout = "row" layout-align="center center">
                    <div flex-offset = "10" layout = "column" id = "test">
                    <br>
                      <h3>Información Básica</h3>
                      <br>
                      <br>
                        <div>
                          <md-input-container>
                            <label>E-mail</label>
                            <input type="email" name = "email" ng-model="usuario.emailU" disabled>
                          </md-input-container>
                        </div>
                        <div>
                          <md-input-container>
                            <label>Rut</label>
                            <input type="text" name = "rut" ng-model="usuario.rutU" disabled>
                          </md-input-container>
                        </div>
                        <div>
                          <md-input-container>
                            <label>Nombre</label>
                            <input type="text" name = "nombre" ng-model="usuario.nombreU" disabled>
                          </md-input-container>
                        </div>
                        <div>
                          <md-input-container>
                            <label>Apellido</label>
                            <input type="text" name = "apellido" ng-model="usuario.apellidoU" disabled>
                          </md-input-container>
                        </div>
                         <div>
                          <md-input-container>
                            <label>Apodo</label>
                            <input type="text" name = "apodo" ng-model="usuario.apodoU" disabled>
                          </md-input-container>
                        </div>
                        <div>
                          <md-input-container>
                            <label>Tipo de usuario</label>
                            <input type="text" name = "apodo" ng-model="usuario.tipoUsuarioidTipoUsuario.nombreTU" disabled>
                          </md-input-container>
                        </div>
                    </div>
                    <div>
                      <div layout = "column">
                      <br>
                        <img  ng-src="{{usuario.fotoPerfilU}}" class="img-thumbnail" alt="Cinque Terre" width="300" height="300"> 
                      </div>
                    </div>
                </div>
</md-content>
