<md-content flex class="md-whiteframe-z3">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/alumno">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosP">Ver Profesores</a></li>
      <li class="breadcrumb-item active">Usuarios Asociados</li>
    </ol>
  </div>
</div>
        <div layout = "column" layout-align="center center">
          <br>
          <h3>Cuentas asociadas</h3>
        </div>

        <div layout = "column" layout-align="center center">
                            <md-input-container>
                              <label>Profesor: </label>
                              <input type="text" ng-model="profe" disabled>
                            </md-input-container>
                          </div>

         <!-- FILTRADO -->
            <div layout = "column" layout-align="center center">
                <div  layout="row" layout-align="center center">
                    <div>
                      <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                    </div>
                     <div>
                        <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                          <label>Búsqueda</label>
                            <input ng-model="apellidoU"
                                   class="md-input"
                                   ng-change="gridActions.filter()"
                                   id="order"
                                   filter-by="apellidoU"
                                   filter-type="text"
                                   aria-invalid="false"
                                   placeholder = "Búsqueda por apellido">
                        </md-input-container>
                    </div>
                  </div>
                </div>
            </div>

        <div  layout="row" layout-align="center">
          <div flex-gt-md="60" flex-md="80" flex-xs="100">
              <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                  <!-- paginación -->
                  <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                      <!-- Total de items -->
                      <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                          <span>{{filtered.length}} Total de usuarios</span>
                      </div>
                      <!-- Total de items -->
                      <!-- Paginación y cantidad de items por vista-->
                      <div flex-gt-sm="75" flex-xs="100">
                          <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                              <grid-pagination max-size="20"
                                               boundary-links="true"
                                               class="pagination mdl-shadow--2dp"
                                               
                                               total-items="paginationOptions.totalItems"
                                               ng-model="paginationOptions.currentPage"
                                               ng-change="reloadGrid()"
                                               items-per-page="paginationOptions.itemsPerPage">
                              </grid-pagination>
                              <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                  <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                      <md-option>5</md-option>
                                      <md-option>10</md-option>
                                      <md-option>25</md-option>
                                  </md-select>
                              </md-input-container>
                          </div>
                      </div>
                      <!-- Paginación y cantidad de items por vista-->
                  </div>
                  <!-- paginación -->
                  <!-- tabla -->
                  <div>
                      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                          <thead>
                          <!-- Cabeceras -->
                          <tr>
                              <th sortable="emailU" class="sortable">
                                  <span>Email</span>
                              </th>
                              <th sortable="nombreU" class="sortable">
                                  <span>Nombre</span>
                              </th>
                              <th th sortable="apellidoU" class="sortable">
                                  <span>Apellido</span>
                              </th>
                              <th sortable="rutU" class="sortable">
                                  <span>Rut</span>
                              </th>
                              <th sortable="tipoUsuarioidTipoUsuario.nombreTU" class="sortable">
                                  <span>Tipo de usuario</span>
                              </th>
                              <th sortable="estadoidEstado.nombreE" class="sortable">
                                  <span>Estado</span>
                              </th>
                          </tr>
                          <!-- Cabeceras -->
                          </thead>
                          <tbody>
                          <tr grid-item ng-click="sendEdicion(item)">
                              <!-- Acceso a los elementos -->
                                <td ng-bind="item.emailU"></td>
                                <td ng-bind="item.nombreU"></td>
                                <td ng-bind="item.apellidoU"></td>
                                <td ng-bind="item.rutU"></td>
                                <td ng-bind="item.tipoUsuarioidTipoUsuario.nombreTU"></td>
                                <td ng-bind="item.estadoidEstado.nombreE"></td>
                               <!-- Acceso a los elementos -->
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  <!-- tabla -->
                  <!-- Paginacion-->
                  <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                      <grid-pagination max-size="20"
                                       boundary-links="true"
                                       class="pagination"
                                       ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                       total-items="paginationOptions.totalItems"
                                       ng-model="paginationOptions.currentPage"
                                       ng-change="reloadGrid()"
                                       items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                      <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                          <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                              <md-option>5</md-option>
                              <md-option>10</md-option>
                              <md-option>25</md-option>
                          </md-select>
                      </md-input-container>
                  </div>
                  <!-- Paginacion-->
              </div>
          </div>
        </div>
</md-content>
